[Unit]
Description=nvfancontrol
After=auditd.service

[Service]
ExecStart=/usr/sbin/nvfancontrol enable
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
